<div class="about">
  <div class="container-fluid">
    <%= image_tag("slide1.jpg") %>
  </div>


  <hr>

  <div class="container text-center">
    <h2 class="title-heading">WE LOVE TECH!</h2>
    <h4> Kidzdemy for kids & teens, aims at enhancing their creativity and enabling them to unveil their digital talents.
      In our creative computing workshops, children aged 7 to 17, learn IT in a fun way and become active with new technologies: coding, electronics, robotics, 3D design & printing, photo, video, animation etc.
      Code, create, innovate become’s as easy as a child’s play!</h4>
    </div>

    <hr>

    <div class="col-lg-12 text-center">
      <h2 class="title-heading">OUR TEAM</h2>
    </div>

    <div class="container text-center">
      <div class="row">

        <div class="col-sm-4">
          <p class="text-center"><strong>Terrence</strong></p><br>
          <a href="#demo" data-toggle="collapse">

            <div class="imgWrap">
              <%= image_tag("robot-terrence.png", class: "person img-responsive center-block") %>
              <p class="imgDescription">Click Me!</p>
            </div>

          </a>
          <div id="demo" class="collapse">
            <p>Guitarist and Lead Vocalist</p>
            <p>Loves long walks on the beach</p>
            <p>Member since 1988</p>
          </div>
        </div>

        <div class="col-sm-4">
          <p class="text-center"><strong>Carson</strong></p><br>
          <a href="#demo2" data-toggle="collapse">
            <%= image_tag("robot-carson.png", class:"person img-responsive center-block") %>
          </a>

          <div id="demo2" class="collapse">
            <p>Guitarist and Lead Vocalist</p>
            <p>Loves long walks on the beach</p>
            <p>Member since 1988</p>
          </div>
        </div>

        <div class="col-sm-4">
          <p class="text-center"><strong>Marsha</strong></p><br>
          <a href="#demo3" data-toggle="collapse">
            <%= image_tag("robot-marsha.png", class:"person img-responsive center-block") %>
          </a>
          <div id="demo3" class="collapse">
            <p>Guitarist and Lead Vocalist</p>
            <p>Loves long walks on the beach</p>
            <p>Member since 1988</p>
          </div>
        </div>

      </div>
    </div>

  </div>
