<div class="about">
  <div class="container-fluid">
    <%= image_tag("aboutphoto.jpg") %>
  </div>
  <hr>
  <div class="container text-center">
    <h2 class="title-heading">WE LOVE TECH!</h2>
    <h4 style= "line-height: 150%">Kidzdemy for kids & teens, aims at enhancing their creativity and enabling them to unveil their digital talents.
      In our creative computing workshops, children aged 7 to 17, learn IT in a fun way and become active with new technologies: coding, electronics, robotics, 3D design & printing, photo, video, animation etc.
      Code, create, innovate become’s as easy as a child’s play!</h4>
    </div>

    <hr>

    <div class="col-lg-12 text-center">
      <h2 class="title-heading">OUR TEAM</h2>
    </div>

    <div class="container text-center">
      <div class="row">

        <div class="col-sm-4">
          <a href="#demo" data-toggle="collapse">

            <div class="imgWrap">
              <%= image_tag("robot-terrence.png", class: "person img-responsive center-block") %>
              <p class="imgDescription">Click Me!</p>
            </div>

          </a>
          <div id="demo" class="collapse">
            <h3 class="text-center"><strong>Terrence</strong></h3><br>
            <p>Lead Backend Development</p>
            <p>Logical thinking</p>
            <p>Passsion for Coding </p>
          </div>
        </div>

        <div class="col-sm-4">
          <a href="#demo2" data-toggle="collapse">

            <div class="imgWrap">
              <%= image_tag("robot-carson.png", class:"person img-responsive center-block") %>
              <p class="imgDescription">Click Me!</p>
            </div>
          </a>

          <div id="demo2" class="collapse">
            <h3 class="text-center"><strong>Carson</strong></h3><br>
            <p>Lead Front Development</p>
            <p>Creative on his own style</p>
            <p>Passion for design</p>
          </div>
        </div>

        <div class="col-sm-4">
          <a href="#demo3" data-toggle="collapse">

            <div class="imgWrap">
              <%= image_tag("robot-marsha.png", class:"person img-responsive center-block") %>
              <p class="imgDescription">Click Me!</p>
            </div>
          </a>

          <div id="demo3" class="collapse">
            <h3 class="text-center"><strong>Marsha</strong></h3><br>
            <p>Web Development & Marketing</p>
            <p>Loves coding and robotics</p>
            <p>Passion for Tech and startup event</p>
          </div>
        </div>

      </div>
    </div>

  </div>
