<div class="landing">
  <div class="container">

<h2>faq<h2>
</div>

  <div class="container">
    <div class="panel-group" id="accordion">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
              <span class="glyphicon glyphicon-minus"></span>
              How do i get a ticket?

            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in">
          <div class="panel-body">
            <p>1. Click the Get Ticket button on the event page</p>

            <img src = "http://i36.photobucket.com/albums/e20/marshachin/events_zpsabmoz7aw.jpg"></>

            <p>2. Select the type of ticket, the quantity you would like to purchase, and payment method (varies depending on the country).</p>
            <img src = "http://i36.photobucket.com/albums/e20/marshachin/select_ticket_zpsystjafdq.jpg

            "</>

            <p>3. Enter your name and click checkout button.</p>
            <img src = "http://i36.photobucket.com/albums/e20/marshachin/register_zps3fl6wn37.jpg

            "</>

            <p>4. Enter your credit card information for payment.</p>

            <img src = "http://i36.photobucket.com/albums/e20/marshachin/payment_zpsl6ewiq0r.jpg

            "</>
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
              <span class="glyphicon glyphicon-plus"></span>
              Can i cancel my tickets?
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse">
          <div class="panel-body">
            Tickets that have been purchased can only be cancelled if the event organizer consents.
            If you wish to request for ticket cancellation, please contact the event organizer directly.

          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
              <span class="glyphicon glyphicon-plus"></span>
              How can i access my tickets?
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse">
          <div class="panel-body">
            Your tickets will be sent to you via email and also you can access your tickets in the app.

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
