.about {

  .container {
    padding: 80px 120px;
  }

  .person {
    // border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
  }

  .person:hover {
    // border-color: #fed136;
    opacity: 0.3;
  }

  .carousel,
  .item,
  .active {
    height: 100%;
  }

  .carousel-inner {
    height: 100%;
  }


  .imgWrap {
    position: relative;
    // height: 200px;
    // width: 257px;
  }

  .imgDescription {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: #000;
    font-size: 20px;
    font-family: Montserrat;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 10%;
  }

  .imgWrap:hover .imgDescription {
    visibility: visible;
    opacity: 1;
  }

  .title-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 700;
  }

}
