<div class="landing">
  <div class="container">

    <div class="jumbotron hero-spacer">
      <h1 style = "font-family: Satisfy">Read For Your Life!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, ipsam, eligendi, in quo sunt possimus non incidunt odit vero aliquid similique quaerat nam nobis illo aspernatur vitae fugiat numquam repellat.</p>
      <p><a class="btn btn-primary btn-large">Order now!</a>
      </p>
    </div>

    <hr>

    <!-- Title -->
    <div class="row">
      <div class="col-lg-12">
        <h3></h3>
      </div>
    </div>
    <!-- /.row -->

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/800x500" alt="">
          <div class="caption">
            <h3 class="hellome">Bestsellers</h3>
            <p>This year's top sellers</p>
            <p>
              <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/800x500" alt="">
          <div class="caption">
            <h3>What's Trending</h3>
            <p>Hot books that are flying off our shelves</p>
            <p>
              <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/800x500" alt="">
          <div class="caption">
            <h3>Just Arrived</h3>
            <p>These books have just arrived on our shelves</p>
            <p>
              <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-3 col-sm-6 hero-feature">
        <div class="thumbnail">
          <img src="http://placehold.it/800x500" alt="">
          <div class="caption">
            <h3>Under RM10</h3>
            <p>FREE Shipping on US Orders of $10 or more</p>
            <p>
              <a href="#" class="btn btn-primary">Buy Now!</a> <a href="#" class="btn btn-default">More Info</a>
            </p>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>
