
<!-- Footer -->

<div class="container navbar-fixed-bottom">

  <hr>

    <div class="row">
      <div class="col-md-6">
          <span class="copyright">Copyright &copy; 2016 Kidzdemy</span>
        </div>

        <div class="col-md-6">
            <ul class="list-inline social-buttons pull-right">
                <li><a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
                </li>
                <li><a href="#"><i class="fa fa-linkedin-square fa-3x"></i></a>
                </li>
            </ul>
        </div>

    </div>
</div>
