<footer class="footer-distributed">
  <div class="footer-right">

    <a href="http://facebook.com"><i class="fa fa-facebook"></i></a>
    <a href="http://twitter.com"><i class="fa fa-twitter"></i></a>
    <a href="http://linkedin.com"><i class="fa fa-linkedin"></i></a>

  </div>

  <div class="footer-left">

    <p class="footer-links">
      <a href="/about">About</a>
      ·
      <a href="/faq">Faq</a>
      ·
      <a href="/terms">Terms</a>
      ·
      <a href="/privacy">Privacy</a>
    </p>
    <p>Kidzdemy &copy; 2016</p>
  </div>
</footer>
