.landing {

  .hero-spacer {
    margin-top: 20px;
    background-image: asset-url("photocover.jpg");
    height: 50vh;
    width: 100%;
    background-position: 50% 50%;
  }

  .hero-feature {
    margin-bottom: 30px;
  }
}
